@model IEnumerable<JorgeManzano.Modelos.EquipoGoles>

<h3>Jugadores por Equipos</h3>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Equipo</th>
            <th>Numero Goles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipo in Model)
        {
            <tr>
                <td>@equipo.Equipo.nomEquipo</td>
                <td>@equipo.NumGoles</td>
            </tr>
        }
    </tbody>
</table>